* {
    color: rgb(47, 44, 44);
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#about-content {
    height: calc(100vh - 7rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center-align text */
}

#about-wrapper {
    height: 25rem;
    display: flex;
    flex-direction: column; /* Change to column for vertical alignment */
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 1rem;
}

#data {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
    justify-content: center; /* Center align vertically */
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem 0rem;
}

#data h1 {
    color: #e60808;
    text-align: center;
}

#data h1:nth-child(3) {
    margin-top: 1.5rem;
}

#contact {
    display: flex;
    justify-content: center; /* Center-align contact links */
    gap: 2rem;
    transition: all 0.15s ease-in-out;
}

#contact a {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: flex;
    gap: 0.15rem;
    flex-direction: column;
    position: relative;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
}

#contact a:hover {
    cursor: pointer;
}

#contact a:hover i {
    filter: drop-shadow(0px 0px 15px #1db954);
}

#contact a::after {
    content: attr(name);
    font-size: 0.75rem;
    position: absolute;
    align-self: center;
    padding-top: 0.25rem;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

#contact a:hover::after {
    opacity: 1;
    transform: translate(0, 2rem);
}

@media (orientation: portrait) {
    #about-wrapper {
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 7rem);
        gap: 1rem;
    }

    #data {
        width: 100%;
        gap: 1rem;
    }

    #contact {
        flex-wrap: wrap;
    }

    p {
        overflow: auto;
    }
}
